@charset "UTF-8";

/*@font-face {*/
    /*font-family: "appliances";*/
    /*src:url("../../fonts/appliances.eot");*/
    /*src:url("../../fonts/appliances.eot?#iefix") format("embedded-opentype"),*/
    /*url("../../fonts/appliances.woff") format("woff"),*/
    /*url("../../fonts/appliances.ttf") format("truetype"),*/
    /*url("../../fonts/appliances.svg#appliances") format("svg");*/
    /*font-weight: normal;*/
    /*font-style: normal;*/

/*}*/

/*[data-icon]:before {*/
    /*font-family: "appliances" !important;*/
    /*content: attr(data-icon);*/
    /*font-style: normal !important;*/
    /*font-weight: normal !important;*/
    /*font-variant: normal !important;*/
    /*text-transform: none !important;*/
    /*speak: none;*/
    /*line-height: 1;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
/*}*/

/*[class^="icon-"]:before,*/
/*[class*=" icon-"]:before {*/
    /*font-family: "appliances" !important;*/
    /*font-style: normal !important;*/
    /*font-weight: normal !important;*/
    /*font-variant: normal !important;*/
    /*text-transform: none !important;*/
    /*speak: none;*/
    /*line-height: 1;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
/*}*/

/*.icon-appliances-audio:before {*/
    /*content: "a";*/
/*}*/
/*.icon-appliances-monitor:before {*/
    /*content: "b";*/
/*}*/
/*.icon-appliances-oven:before {*/
    /*content: "c";*/
/*}*/
/*.icon-appliances-clock:before {*/
    /*content: "d";*/
/*}*/
/*.icon-appliances-double-boiler:before {*/
    /*content: "e";*/
/*}*/
/*.icon-appliances-phone:before {*/
    /*content: "f";*/
/*}*/
/*.icon-appliances-refrigerator:before {*/
    /*content: "g";*/
/*}*/
/*.icon-appliances-earphones:before {*/
    /*content: "h";*/
/*}*/
/*.icon-appliances-extract:before {*/
    /*content: "i";*/
/*}*/
/*.icon-appliances-sewing-machine:before {*/
    /*content: "j";*/
/*}*/
/*.icon-appliances-vacuum-cleaner:before {*/
    /*content: "k";*/
/*}*/
/*.icon-appliances-grinder:before {*/
    /*content: "l";*/
/*}*/
/*.icon-appliances-washing-machine:before {*/
    /*content: "m";*/
/*}*/
/*.icon-appliances-fan:before {*/
    /*content: "n";*/
/*}*/
/*.icon-appliances-hair-dryer:before {*/
    /*content: "o";*/
/*}*/
/*.icon-appliances-iron:before {*/
    /*content: "p";*/
/*}*/
/*.icon-appliances-kettle:before {*/
    /*content: "q";*/
/*}*/
/*.icon-appliances-lamp:before {*/
    /*content: "r";*/
/*}*/
/*.icon-appliances-microwave:before {*/
    /*content: "s";*/
/*}*/
/*.icon-appliances-mixer:before {*/
    /*content: "t";*/
/*}*/
/*
  Flaticon icon font: Flaticon
  Creation date: 08/12/2016 07:57
  */

@font-face {
    font-family: "Flaticon";
    src: url("../../fonts/Flaticon.eot");
    src: url("../../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Flaticon.woff") format("woff"),
    url("../../fonts/Flaticon.ttf") format("truetype"),
    url("../../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../../fonts/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 35px;
    font-style: normal;
    margin: 10px 0;
}

.flaticon-air-conditioning:before { content: "\f100"; }
.flaticon-alarm-clock:before { content: "\f101"; }
.flaticon-blender:before { content: "\f102"; }
.flaticon-blender-1:before { content: "\f103"; }
.flaticon-blender-2:before { content: "\f104"; }
.flaticon-coffee-maker:before { content: "\f105"; }
.flaticon-curler:before { content: "\f106"; }
.flaticon-dishwasher:before { content: "\f107"; }
.flaticon-epilator:before { content: "\f108"; }
.flaticon-extractor:before { content: "\f109"; }
.flaticon-fan:before { content: "\f10a"; }
.flaticon-food-steamer:before { content: "\f10b"; }
.flaticon-fridge:before { content: "\f10c"; }
.flaticon-hair-clipper:before { content: "\f10d"; }
.flaticon-hairdryer:before { content: "\f10e"; }
.flaticon-iron:before { content: "\f10f"; }
.flaticon-juicer:before { content: "\f110"; }
.flaticon-kettle:before { content: "\f111"; }
.flaticon-lamp:before { content: "\f112"; }
.flaticon-meat-grinder:before { content: "\f113"; }
.flaticon-microwave-oven:before { content: "\f114"; }
.flaticon-mixer:before { content: "\f115"; }
.flaticon-mixer-1:before { content: "\f116"; }
.flaticon-multicooker:before { content: "\f117"; }
.flaticon-music-player:before { content: "\f118"; }
.flaticon-music-speaker:before { content: "\f119"; }
.flaticon-oven:before { content: "\f11a"; }
.flaticon-photo-camera:before { content: "\f11b"; }
.flaticon-printer:before { content: "\f11c"; }
.flaticon-refrigerator:before { content: "\f11d"; }
.flaticon-router:before { content: "\f11e"; }
.flaticon-sewing-machine:before { content: "\f11f"; }
.flaticon-shaver:before { content: "\f120"; }
.flaticon-stove:before { content: "\f121"; }
.flaticon-telephone:before { content: "\f122"; }
.flaticon-television:before { content: "\f123"; }
.flaticon-toaster:before { content: "\f124"; }
.flaticon-toothbrush:before { content: "\f125"; }
.flaticon-vacuum-cleaner:before { content: "\f126"; }
.flaticon-vacuum-cleaner-1:before { content: "\f127"; }
.flaticon-washing-machine:before { content: "\f128"; }


body {
    background-color: #f5f7fa;
    font-family: "Helvetica Neue", "hiragino sans gb w3", "Microsoft Yahei", "Arial", sans-serif;
}
.navbar {
    border: none;!important;
    /*background-image: linear-gradient(to bottom, #ffb36f 0%, #eba963 100%) !important;*/
    border-radius: 0 !important;
}

.navbar-brand img {
    width: 44px;
    position: absolute;
    top: 3px;
    left: 8px;

}

.navbar-collapse {
    padding-left: 70px !important;
}

.navbar-default
.navbar-nav>li>a {
    color: #fff4e6;
}

.topnavbar .navbar-header .navbar-brand {
    line-height: 55px;
    padding: 0px;
}

.topnavbar .navbar-header .brand-logo {
    padding: 0;
}

.nav-wrapper>ul>li>a {
    padding: 0 0 0 15px;
}
/*dashboard*/
.homepage {
    margin-top:10px
}
.homepage h4 {
    margin-left: 15px;
}

/*device page*/
.group-wrapper {
    font-size: 24px;
    line-height: 1.1;
    color: #929292;
    margin-bottom: 15px;
    padding: 20px;
    font-weight: normal;
    background-color: #fafbfc;
    border-bottom: 1px solid #cfdbe2;
}

.group-wrapper > .group {
    display: inline-block;
    margin-right: 10px;
}

.item-wrapper {
}

.item-wrapper > .item {
    display: inline-block;
}

.item-wrapper > .item > .panel:hover {
    border: 1px solid #ffbe3b;
}

.layout-fixed .offsidebar {
    position: fixed;
}

/* strategy page*/
.operation {
    padding: 5px;
    padding-right:5px;
    line-height: 100%;
    position: absolute;
    top: 7px;
    right: 15px;
}
.operation li {
    float: right;
    padding: 10px;
    margin-left: 10px;
    background-color: #b3c9cc;
    border-radius: 50%;
}


.operation a {
    min-height: 50px;
    color: #83868a;
}

.operation>.fa-plus {
    padding: 5px 6px 4px 6px;
    background-color: #ffbe3b;
    border-radius: 20px;
    color: white;
}

.operation i{
    margin: 8px;
    color: #baafad
}

.operation i:hover {
    color:#e19f25;
}
.operation>.fa-plus:hover{
    background-color: #e19f25;
    color:#ffffff;
}

.strategy-template {
    margin: 15px;
}

.panel-device-icon {
    text-align: center;
}

/*strategy*/
.feature-cel {
    margin-bottom:15px;
    position: relative;
}

.feature-num {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    background-color: #ffbe3b;
    color: #ffffff;
}
/*.feature-num:before {*/
    /*content:'';*/
    /*/!*display: ;*!/*/
    /*position: absolute;*/
    /*top:0px;*/
    /*left: 15px;*/

/*}*/

.feature-cel p {
    white-space:nowrap;
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
    margin-bottom: 0;
}

.device-description {
    /*background-color: #ffbe3b;*/
    /*padding:15px;*/
    text-align: center;
    color: #666666;
    font-size: 10pt;
    height: 90px;
    border: 1px #f3f3f4 solid;
    border-right: 0;
}

.device-feature {
    padding: 20px;
    font-size: 12pt;
    height: 90px;
    color: #666666;
    background-color: #ffffff;
    border: 1px #f3f3f4 solid;
    position: relative;
}

.device-feature i {
    position: absolute;
    top: 5px;
    right: 5px;
}

.device-trigger {
    font-size: 80%;
    color: #999999;

}

.strategy-template > .list-group-item {
    margin-bottom: 20px;
    padding: 0px;

}
.list-group-item > .panel-body {
    /*margin-left: -30px;*/
    /*margin-right: -30px;*/
    /*padding: 20px;*/
    min-height: 100px;
    padding-bottom:0;
}
/*.list-group-item > .panel-body .row {*/
    /*margin-right:-90px;*/
    /*margin-bottom: -30px;*/
/*}*/

.panel-input {
    /*margin-top: -10px;*/
    /*margin-left: -15px;*/
    /*margin-right: -15px;*/
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #f2f2f5;
    padding: 15px;
    /*border-bottom: 1px #eaeaea solid;*/
    position: relative;
}
.panel-input .form-control {
    width: auto;
}

.btn-submit {
    float: right;
}

/*.btn-submit > .btn{*/
.btn.btn-default {
    background-image: none;
    /*border-radius: 4px;*/
    padding: 5px 10px;
}

.strategy-info {
    /*padding-left: 20px;*/
    text-align: center;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left:0;*/
    /*margin: -20px 0;*/
    margin: 4px 0;
    white-space:nowrap;
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
}
.strategy-info >.strategy-name {
    font-size: 1em;
    color: #323442;
    font-family: "Helvetica Neue", "hiragino sans gb w3", "Microsoft Yahei", "Arial", sans-serif;
}
.strategy-info small {
    color: #999999;
}

.strategy-running .list-group-item {
    padding: 20px 20px;
}

.panel.panel-default {
    border-top-width: 1px;
}

.strategy-running .panel.panel-default
{
    margin:0 15px 20px;
}


/*.panel-default{*/
    /*color: #478fca;*/
    /*font-weight: 400;*/
    /*background-image: none;!important;*/
    /*background-color: #ffffff;*/
    /*padding: 20px 0px;*/
    /*position: relative;*/
/*}*/
/*.panel-collapse {*/
    /*background-color: #ffffff;*/
    /*margin: 10px 15px 20px;*/
    /*border-radius: 4px;*/
    /*border: 1px #D3D3D3 solid;*/
/*}*/
/*.panel-collapse .panel-body {*/
    /*padding: 0 15px;*/
/*}*/

.strategy-control {
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*margin: -10px 0;*/
    margin: 17px 0;
}

.strategy-control ul {
    padding-left: 0;
    text-align: center;
    margin-bottom: 0;

}
.strategy-control li{
    padding: 0 20px;
    display: inline-block;


}

.progress-xs {
    height: 8px;
}

/*device detail*/
.devicename-panel {
    padding: 15px;
    background-color: #f5f7fa;
    height:100%;
    /*text-align: center;*/
    overflow-y: hidden;
}

.device-icon,
.feature-name,
.device-name,
.devicegroup-name {
    margin-bottom: 10px;
    /*text-align: center;*/
}
.devicename-panel select,
.devicename-panel input {
    margin-bottom: 10px;
}

.first-title {
    margin-bottom: 10px;
}

.icon-background {
    width: 70px;
    height: 70px;
    background-color: #fff;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
    position: relative;
    left: 80px;
    top: 10px;
    margin-bottom: 30px;
    color: #ffb36f;
}

.feature-background {
    width: 100%;
    height: auto;
    background-color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
}

.feature-title {
    padding-bottom: 8px;
    border-bottom: 1px #c7c7c7 dotted;
    margin-bottom: 8px;
}
.feature-title a {
    color: #FFB36F;
}

.strategy-progress {
    margin: 21px 0;
    /*position: absolute;*/
    /*top:50%;*/
    /*left:17%;*/
    /*margin: -4px 0;*/
    /*padding: 38px 0;*/
}

.strategy-toggle  {
    /*padding:20px;*/
    text-align: center;
    /*position: absolute;*/
    /*top: 50%;*/
    /*right:0;*/
    /*margin: -10px 0;*/
    margin: 17px 0;
}



/*home device*/
#device-wrapper {
    /*background-color: #f3f3f4;*/
    /*-webkit-box-shadow: 0px 2px 1px #e0e0e0;*/
    /*-moz-box-shadow: 0px 2px 1px #e0e0e0;*/
    margin-bottom: 15px;
    /*margin-top: 50px;*/
    /*margin-top: 0px;*/
    padding: 0px 15px ;
    overflow-x: scroll;
    overflow-y: hidden;
}

.device-body {

    width: 100%;
    height: 150px;
    white-space: nowrap;
    letter-spacing: -4px;
}
.device-body-homepage {

}


.device-cel {
    height: 140px;
    width: 140px;
    display: inline-block;
    background-color: #ffffff;
    /*padding: 58px;*/
    border: solid #f8f8f8 1px;
    text-align: center;
    /*padding-top: auto;!important;*/
    /*padding-bottom: auto;!important;*/
    /*display: inline-block;*/
    /*padding: 36px 0px;*/
    vertical-align: middle;
    letter-spacing: 0;
    /*margin-bottom: 10px;*/
    padding: 15px;
}

.device-cel:hover {
    background-color: #fffccc;
}

.device-cel p {
    white-space:nowrap;
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
}
.device-cel i {
    margin: 10px 0;
}

.device-content {
    /*display: table-cell;*/
    /*height: 120px;*/
    /*vertical-align: middle;*/
    /*margin: 0 auto;*/



}
#device-icon {
    margin-top: 15%;
}
#device-description {
    margin-top: 8px;
}

/*.aside {*/
    /*z-index:1 !important;*/
/*}*/

.feature-dialog select,
.feature-dialog input,
.input-group {
    margin-bottom: 10px;
}

.feature-dialog small {
    color: #999999;
}


/*icon*/




@media(max-width: 1140px) {
    .layout-fixed .wrapper > section {
        margin-top: 50px; !important;
    }
    .layout-fixed .wrapper .topnavbar-wrapper {
        position: fixed;
        top: 0;
        width: 100%;
        /*z-index: 1;*/
    }
}

@media(max-width: 768px) {
    .feature-cel {
        margin-bottom: 15px;
    }

    .topnavbar .navbar-header .navbar-brand {
        margin-left: 25px;
        line-height: 55px;
        padding: 0;
    }
    .aside-collapse .aside,
    .aside-collapse .aside-inner {
        left: 0px;
    }
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: inherit;
}


.coverlayer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 10;
    animation: ngdialog-fadein 0.5s;
}

.device-icon {
    font-size: 30px;
}

.device-panel {
    padding: 10px 0px;
}

.group-wrapper>.btn-info{
    background-image: linear-gradient(to bottom, #ffb36f 0%, #eba963 100%);!important;
    background-color: #eba963;
    border-color: #eba963;
}

.strategy-control i {
    color: #9c9c9c;
}

.strategy-control i:hover {
    color: #eba963;
}

.icon-disabled {
    color: #dddddd !important;
    border: 1px solid #000000
}

.strategy-toggle i {
    color: #eba963;
}

.progress-bar-success {
    background-color: #eba963;
}

.popover {
    max-width: 365px;
}

.weekfreq label {
    color: #5c5d5f;
    text-shadow: none;
}

.weekfreq>.btn-primary {
    background-color: #eaeaea;
    background-repeat: no-repeat;
    background-image: none;
    border:1px #c9cacd solid;
}

.weekfreq>.btn-primary.active {
    background-color: #eba963;
    border: 1px #eba963 solid;
}

.weekfreq>.btn-primary:active {
    background-color: #eba963;
    border: 1px #eba963 solid;
}


.weekfreq .btn:hover {
    color: #eba963;
    background-color: #e6e6e6;

}
.repeatarea{
    margin-bottom: 20px;
    margin-top:15px;
}

.repeatlabel{
    position: absolute;
    left: 15px;
    top: 33px;
}
.repeatlist{
    padding-left: 100px;
    margin-bottom: 20px
}
.endlabel {
    position: absolute;
    left: 15px;
    top: 85px;
}

.endlist>ul {
    list-style:none;
    padding-left: 100px;
}

.endlist>ul>li {
    padding: 4px;
    margin-bottom: 1px;
}

.endlist>ul>li:first-child {
    margin-bottom: 10px;
}


.btn-long {
    display: block;!important;
    background-image: linear-gradient(to bottom, #ffb36f 0%, #eba963 100%);!important;
    /*margin-top: 6px;*/
    /*margin-bottom: 6px;*/
}

.alert-danger {
    background-image: linear-gradient(to bottom, #ffb36f 0%, #eba963 100%);
    border-color: #eba963;
    color: #ffffff;
}

