<div class="device-box" style="display: inline-block;float: left">
    <div class=" device-cel device-block"
         ng-class={"device-cel-disconnect":device.deviceState==="DISCONNECTED","device-cel-connect":device.deviceState==="CONNECTED"}>
        <div class="device-block-top" ng-click="device.deviceState==='CONNECTED'&&deviceToggle($event)"><strong>{{device.name}}</strong><br></div>
        <div class="device-block-bottom">
            <div class="panel-heading" style="margin: 15px 0">
                <i class="flaticon {{device.logoUrl||'flaticon-info'}} device-icon"></i>
            </div>
            <div ng-show="device.deviceState==='CONNECTED'" ng-repeat="feature in features[device.id]">
                <div ng-repeat="arg in feature.argDtoList">
                    <p>
                        <span style="line-height: 30px"><small>{{arg.screenName}}:</small>
                    <small uib-popover={{(device.initParam[arg.name]||(device.initParam[arg.name]===0))?device.initParam[arg.name]:'未获取'}} popover-trigger="'mouseenter'">{{(device.initParam[arg.name]||(device.initParam[arg.name]===0))?device.initParam[arg.name]:'未获取'}}</small></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--device block show params-->
    <div class="device-toggle device-hide device-cel">
        <div style="vertical-align:middle">
            <div ng-repeat="feature in features[device.id]">
                <div ng-repeat="arg in feature.argDtoList">
                    <p>
                        <!--<small uib-popover="I appeared on mouse enter!" popover-trigger="'mouseenter'">{{arg.screenName}}:-->
                            <!--</small>-->
                        <span><small>{{arg.screenName}}:</small>
                    <small uib-popover={{(device.initParam[arg.name]||(device.initParam[arg.name]===0))?device.initParam[arg.name]:'未获取'}} popover-trigger="'mouseenter'">{{(device.initParam[arg.name]||(device.initParam[arg.name]===0))?device.initParam[arg.name]:'未获取'}}</small></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>