<div ng-controller="DeviceCtrl">
    <div ng-include="currentConfig.defaultPath+'/src/view/device-detail.html'" ng-controller="DeviceDetailCtrl"></div>
    <div class="">
        <div class="row group-wrapper">
            <div class="group btn btn-info " ng-repeat="group in getGroups()"
                 ng-click="setDeviceFilter(group)">
                {{group}}
            </div>
        </div>

        <div class="row item-wrapper">
            <div class="item col-xs-6 col-sm-4 col-md-3 col-lg-2"
                 ng-repeat="device in devices | filter: deviceFilterByGroup">
                <div class="panel" ng-click="deviceDetail.show(device)">
                    <div class="panel-heading row">
                        <div class="col-xs-4 panel-device-icon">
                            <i class="icon icon-appliances-lamp device-icon"></i>
                        </div>
                        <div>
                            <strong>{{device.name}}</strong><br>
                            <small>{{device.deviceState}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="coverlayer" ng-click="deviceDetail.hide($event)" ng-show="deviceDetail.visible"></div>
    </div>
</div>