<!-- top navbar-->
<header ng-include="currentConfig.defaultPath+'/src/view/top-navbar.html'" class="topnavbar-wrapper"></header>

<!-- sidebar-->
<aside ng-include="currentConfig.defaultPath+'/src/view/sidebar.html'" class="aside"></aside>

<!-- Main section-->
<section>
    <!-- Page content-->
    <!--<div ui-view="" autoscroll="false" class="content-wrapper"></div>-->
    <div ui-view="" autoscroll="false" class="container-fluid"></div>

</section>

<!-- Page footer-->
<footer ng-include="currentConfig.defaultPath+'/src/view/footer.html'"></footer>

