<div class="row device-group">
    <div class="col-xs-12">
        <div class="row" id="device-wrapper-device">
            <h5 id="device-group-heading">设备组</h5>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <div class="group-item">
                    <a href="#">全部设备</a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <div class="group-item">
                    <a href="#">全部设备</a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <div class="group-item">
                    <a href="#">全部设备</a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <div class="group-item">
                    <a href="#">全部设备</a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <div class="group-item">
                    <a href="#">全部设备</a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <div class="group-item">
                    <a href="#">全部设备</a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <div class="group-item">
                    <a href="#">全部设备</a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <div class="group-item">
                    <a href="#">全部设备</a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <div class="group-item">
                    <a href="#">全部设备</a>
                </div>
            </div>



        </div>
    </div>
</div>

<div class="device-item">
    <!--<div class="device-body">-->
    <div class="device-cel-device col-xs-4 col-sm-3 col-md-2 col-lg-1 " ng-repeat="device in devices">
        <a class="device-content">
            <div><i class="fa fa-comments fa-3x" id="device-icon"></i></div>
            <div id="device-description">
                {{device.name}}
                <div>
                    <small>{{device.description}}</small>
                </div>
            </div>
        </a>
    </div>
    <!--</div>-->
</div>