<div ng-controller="DeviceCtrl">
    <div ng-include="'public/src/view/device-detail.html'"></div>
    <div class="row group-wrapper">
        <div class="group btn btn-info " ng-repeat="group in getGroups()"
             ng-click="setDeviceFilter(group)">
            {{group}}
        </div>
    </div>

    <div class="row item-wrapper">
        <div class="item col-xs-6 col-sm-4 col-md-3 col-lg-2"
             ng-repeat="device in devices | filter: deviceFilterByGroup">
            <div class="panel" ng-click="deviceDetail.toggle(device)">
                <div class="panel-heading">
                    <i class="fa fa-comments fa-3x"></i>

                    <div>
                        <h5>{{device.name}}</h5>
                    </div>
                    <div>
                        <small>{{device.deviceState}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>