<div id="wrapper" ng-class="{toggled:deviceDetail.isToggled}">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <div class="device-avatar">
        </div>
        <ul>
            <li>
                ID：{{deviceDetail.device.id}}
            </li>
            <li>
                类型：{{deviceDetail.device.deviceType}}
            </li>
            <li>
                名称：{{deviceDetail.device.name}}
                <button ng-click="deviceDetail.nameEditable = true">编辑</button>
                <div ng-show="deviceDetail.nameEditable">
                    <input ng-model="deviceDetail.nameInput">
                    <button ng-click="deviceDetail.editName()">确定</button>
                    <button ng-click="deviceDetail.nameEditable = false">取消</button>
                </div>
            </li>
            <li>
                分组：{{deviceDetail.device.deviceGroup}}
                <button ng-click="deviceDetail.groupEditable = true">编辑</button>
                <div ng-show="deviceDetail.groupEditable">
                    <select class="" ng-model="deviceDetail.groupChosen"
                            ng-options="group as group for group in deviceDetail.getGroups()">
                    </select>

                    <div ng-show="deviceDetail.groupChosen=='添加新组'">
                        <div>
                            <input ng-model="deviceDetail.groupInput">
                        </div>
                    </div>
                    <button ng-click="deviceDetail.editGroup()">确定</button>
                    <button ng-click="deviceDetail.groupEditable = false">取消</button>
                </div>
            </li>
            <li>
                特性：
                <div>
                    Feature:
                    <select ng-model="deviceDetail.featureChosen"
                            ng-options="feature as feature.featureName for feature in deviceDetail.getFeatureList()"
                            ng-click="deviceDetail.arguments = {}">
                    </select>

                    <div ng-show="deviceDetail.featureChosen != null">
                        <div>
                            任务参数：
                            <div ng-repeat="arg in deviceDetail.getArgumentList()">
                                {{arg.screenName}}:
                                <input ng-model="deviceDetail.arguments[arg.name]" required>
                            </div>
                        </div>
                        <div>
                            控制面板：
                            <button ng-click="deviceDetail.start()">
                                start
                            </button>
                            <button ng-click="deviceDetail.pause()">
                                pause
                            </button>
                            <button ng-click="deviceDetail.stop()">
                                stop
                            </button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="row device-group">
    <div class="col-xs-12">
        <div class="row" id="device-wrapper-device">
            <h5 id="device-group-heading">设备组</h5>

            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1" ng-repeat="group in getGroups()"
                 ng-click="setDeviceFilter(group)">
                <div class="group-item">
                    {{group}}
                </div>
            </div>


        </div>
    </div>
</div>

<div class="device-item">
    <!--<div class="device-body">-->
    <!--<a >-->
    <div class="device-cel-device col-xs-4 col-sm-3 col-md-2 col-lg-1"
         ng-repeat="device in devices | filter: deviceFilterByGroup"
         ng-click="deviceDetail.toggle(device)">
        <div class="device-content">
            <div><i class="fa fa-comments fa-3x" id="device-icon"></i></div>
            <div id="device-description">
                {{device.name}}
                <div>
                    <small>{{device.description}}</small>
                </div>
            </div>

        </div>
    </div>
    <!--</a>-->
    <!--</div>-->
</div>

<!-- /#page-content-wrapper -->

