<aside ng-if="!deviceDetail.isToggled" class="offsidebar">
    <div class="devicename-panel">
        <div class="device-icon">
            <i class="fa fa-tablet fa-3x"></i>
        </div>
        <div class="device-name">
            <div class="first-title">
                {{deviceDetail.device.name}}
                <button class="btn btn-default" ng-click="deviceDetail.nameEditable = true">编辑</button>
            </div>
            <div ng-show="deviceDetail.nameEditable">
                <input ng-model="deviceDetail.nameInput" class="form-control">
                <button class="btn btn-default" ng-click="deviceDetail.editName()">确定</button>
                <button class="btn btn-default" ng-click="deviceDetail.nameEditable = false">取消</button>
            </div>
        </div>
        <div class="devicegroup-name">
            <div class="first-title">
                <i class="fa fa-folder-o"></i>
                {{deviceDetail.device.deviceGroup}}
                <button class="btn btn-default" ng-click="deviceDetail.groupEditable = true">编辑</button>
            </div>
            <div ng-show="deviceDetail.groupEditable">
                <select class="form-control" ng-model="deviceDetail.groupChosen"
                        ng-options="group as group for group in deviceDetail.getGroups()">
                </select>

                <div ng-show="deviceDetail.groupChosen=='添加新组'">
                    <div>
                        <input ng-model="deviceDetail.groupInput" class="form-control">
                    </div>
                </div>
                <button class="btn btn-default" ng-click="deviceDetail.editGroup()">确定</button>
                <button class="btn btn-default" ng-click="deviceDetail.groupEditable = false">取消</button>
            </div>
        </div>

        <div class="feature-name">
            <h5>设备功能</h5>
            <select ng-model="deviceDetail.featureChosen" class="form-control"
                    ng-options="feature as feature.featureName for feature in deviceDetail.getFeatureList()"
                    ng-click="deviceDetail.arguments = {}">
            </select>

            <div ng-show="deviceDetail.featureChosen != null">

                <div ng-repeat="arg in deviceDetail.getArgumentList()">
                    <div class="first-title">{{arg.screenName}}:</div>
                    <input ng-model="deviceDetail.arguments[arg.name]" class="form-control" required>
                </div>
            </div>
            <button class="btn btn-default" ng-click="deviceDetail.start()">
                start
            </button>
            <button class="btn btn-default" ng-click="deviceDetail.pause()">
                pause
            </button>
            <button class="btn btn-default" ng-click="deviceDetail.stop()">
                stop
            </button>
        </div>
    </div>
    </div>
</aside>
