<aside ng-if="deviceDetail.visible" class="offsidebar">
    <div class="devicename-panel">
        <!--<div class="device-icon">-->
        <!--<img src="public/images/icon/light.png">-->
        <!--</div>-->
        <div class="icon icon-appliances-lamp icon-background"></div>
        <div class="device-name">
            <div class="first-title" style="text-align: center; margin-bottom: 15px;">
                <strong>{{deviceDetail.device.name}}</strong>
                <i ng-click="deviceDetail.nameEditable = true" class="fa fa-pencil-square-o"></i>
                <!--<div><small>ON/OFF</small></div>-->
                <!--<div class="switch switch-large has-switch">-->
                <!--<div class="switch-on"><input type="checkbox" checked="">-->
                <!--<span class="switch-left switch-large">ON</span>-->
                <!--<label class="switch-large">&nbsp;</label>-->
                <!--<span class="switch-right switch-large">OFF</span>-->
                <!--</div>-->
                <!--</div>-->
            </div>
            <div ng-show="deviceDetail.nameEditable">
                <input ng-model="deviceDetail.nameInput" class="form-control">
                <button class="btn btn-default" ng-click="deviceDetail.editName()">确定</button>
                <button class="btn btn-default" ng-click="deviceDetail.nameEditable = false">取消</button>
            </div>
        </div>
        <div class="devicegroup-name">
            <div class="first-title">
                <!--<i class="fa fa-folder-o"></i>-->
                <span><strong>分组：</strong>{{deviceDetail.device.deviceGroup}}</span>
                <i ng-click="deviceDetail.groupEditable = true" class="fa fa-pencil-square-o"></i>
            </div>
            <div ng-show="deviceDetail.groupEditable">
                <select class="form-control" ng-model="deviceDetail.groupChosen"
                        ng-options="group as group for group in deviceDetail.getGroups()">
                </select>

                <div ng-show="deviceDetail.groupChosen=='添加新组'">
                    <div>
                        <input ng-model="deviceDetail.groupInput" class="form-control">
                    </div>
                </div>
                <button class="btn btn-default" ng-click="deviceDetail.editGroup()">确定</button>
                <button class="btn btn-default" ng-click="deviceDetail.groupEditable = false">取消</button>
            </div>
        </div>

        <div class="feature-name">
            <div class="first-title"><strong>设备功能</strong></div>

            <div ng-if="!deviceDetail.isBusy()">
                <div class="">
                    <div ng-repeat="feature in deviceDetail.getFeatureList()" ng-init="deviceDetail.arguments[feature.featureId] = {}">
                        <div class="feature-background">
                            <div class="feature-title">
                            <div style="display: inline-block"><strong>{{feature.featureName}}</strong></div>
                            <div style="display: inline-block; float: right">
                                <a ng-click="deviceDetail.start(feature)">
                                    应用
                                </a>
                            </div>
                            </div>

                            <div ng-repeat="arg in feature.argDtoList">
                                <div ng-if="arg.dataType == 'INTEGER'">
                                    {{arg.screenName}}:
                                    <div class="btn btn-default" ng-click="deviceDetail.arguments[feature.featureId][arg.name] = deviceDetail.arguments[feature.featureId][arg.name] - 1">
                                        -
                                    </div>
                                    <input type="number" style="width: 50px" ng-model="deviceDetail.arguments[feature.featureId][arg.name]">

                                    <div class="btn btn-default" ng-click="deviceDetail.arguments[feature.featureId][arg.name] = deviceDetail.arguments[feature.featureId][arg.name] + 1">
                                        +
                                    </div>
                                </div>
                                <div ng-if="arg.dataType == 'FLOAT'">
                                    {{arg.screenName}}:
                                    <div style="display: inline-block; float: right">
                                        <input ng-model="deviceDetail.arguments[feature.featureId][arg.name]"
                                               ng-init="deviceDetail.arguments[feature.featureId][arg.name]={{initParam.brightLux}}" style="width: 40px;">
                                    </div>

                                    <input ng-model="deviceDetail.arguments[feature.featureId][arg.name]" type="range" step=".1" min="0" max="100">


                                </div>
                                <div ng-if="arg.dataType == 'STRING'">
                                    <input type="text" ng-model="deviceDetail.arguments[feature.featureId][arg.name]">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="deviceDetail.isBusy()">
                <button class="btn btn-default" ng-click="deviceDetail.resume()">
                    resume
                </button>
                <button class="btn btn-default" ng-click="deviceDetail.pause()">
                    pause
                </button>
                <button class="btn btn-default" ng-click="deviceDetail.stop()">
                    stop
                </button>
            </div>

        </div>
    </div>
</aside>
