<div ng-controller="StrategyCtrl">
    <form name="strategyForm" novalidate>
        <div class="panel panel-default">
            <div class="panel-heading">
                <input ng-model="strategyModal.strategyName" placeholder="input strategy name" focus
                       required>
                <ul class="operation list-unstyled">
                    <li>
                        <a ng-click="featureModal.open()">
                        <i class="fa fa-plus"></i>
                    </a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="row col-lg-12">
                    <div class="col-lg-3" ng-repeat="feature in strategyModal.featureList">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>{{feature.featureName}}</strong>
                                <i class="fa fa-times close" ng-click="deleteFeature($index, strategyModal)"></i>
                            </div>
                            <div class="panel-body">
                                <span class="col-xs-6">{{feature.device.name}}</span>
                                <span class="col-xs-6">{{feature.triggerDtoList[0].triggerValue | date:'yy-MM-dd hh:mm:ss'}}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="alert alert-danger" ng-show="!strategyModal.valid">
            {{strategyModal.error}}
        </div>
        <div>
            <button class="btn btn-default" ng-click="addStrategy()">提交</button>
            <button class="btn btn-default">取消</button>
        </div>
    </form>
</div>