<div class="homepage row" ng-controller="HomePageCtrl">
    <div ng-controller="DeviceCtrl">
        <div ng-include="'public/src/view/device-detail.html'"></div>
        <h4>
            <i class="fa fa-tablet"></i>
            设备
        </h4>

        <div id="device-wrapper">
            <div class="device-body device-body-homepage">
                <a class="device-cel" ng-repeat="device in devices" ng-click="deviceDetail.toggle(device)">
                    <!--<div class="panel">-->
                    <!--<div class="panel-heading">-->
                    <i class="fa fa-comments fa-3x"></i>

                    <p>{{device.name}}<br>
                        <small>{{device.deviceState}}</small>
                    </p>
                </a>
            </div>
        </div>
    </div>
    <div>
        <h4><i class="fa fa-pencil"></i> Strategy</h4>
    </div>

    <div ng-include="'public/src/view/strategy-list.html'">

    </div>
</div>






