<div class="homepage row" ng-controller="HomePageCtrl">
    <div ng-controller="DeviceCtrl">
        <div ng-include="currentConfig.defaultPath+'/src/view/device-detail.html'"></div>
        <div>
            <h4>
                <i class="fa fa-tablet"></i>
                设备
            </h4>
            <div id="device-wrapper" style="line-height: 14px;font-size: 14px">
                <div class="device-body device-body-homepage" id="device-list">
                    <div ng-repeat="device in devices">
                        <device-info
                                device="device"
                                device-detail="deviceDetail"
                                show-index="showIndex"
                                features="features"
                                index="$index"
                        >
                        </device-info>
                        <!--device block always show-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="coverlayer" ng-click="deviceDetail.hide($event)" ng-show="deviceDetail.visible"></div>-->

    <div>
        <h4><i class="fa fa-pencil"></i>正在执行</h4>
    </div>
    <div ng-controller="StrategyCtrl" id="strategy-list">
        <div class="strategy-running" ng-model="strategies">
            <div ng-repeat="strategy in strategies | filter: strategyFilterRunning"
                 ng-init="index=$index; toggleStatus.push(false)">
                <div ng-include="currentConfig.defaultPath+'/src/view/strategy-list.html'">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>






