<div id="homePage" ng-controller="HomePageCtrl">
    <div class="row">
        <div class="col-xs-12">
            <div class="row" id="device-wrapper">
                <div><h4><i class="fa fa-heart"></i> 设备</h4></div>
                <div class="device-body">
                    <a class="device-cel" ng-repeat="device in devices">
                        <div class="device-content">
                            <i class="fa fa-comments fa-2x"></i>

                            <div>{{device.deviceName}}</div>
                            <small>{{device.description}}</small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!--<div class="strategy-body">-->
    <!--<div class="row">-->
    <div id="strategy-title">
        <h4><i class="fa fa-pencil"></i> Strategy</h4>
    </div>
    <!--</div>-->
    <div>
        <div ng-repeat="strategy in strategies">
            <accordion close-others="isCollapsed">
                <accordion-group is-open="status.open">
                    <accordion-heading>
                        <h4>{{strategy.strategyName}}</h4>
                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>

                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped" ng-style="setLength(strategy.strategyStage, strategy.featureList.length)">
                                <span class="sr-only">35% Complete (success)</span>
                            </div>
                            <!--<div class="progress-bar progress-bar-warning" ng-style="width: 65%">-->
                                <!--<span class="sr-only">20% Complete (warning)</span>-->
                            <!--</div>-->
                            <!--<div class="progress-bar progress-bar-danger" style="width: 65%">-->
                                <!--<span class="sr-only">10% Complete (danger)</span>-->
                            <!--</div>-->
                        </div>

                    </accordion-heading>
                    <ul class="timeline" ng-repeat="feature in strategy.featureList track by $index">
                        <li ng-class="{'timeline-inverted': !(feature.featureNum%2) }">
                            <div class="timeline-badge" ng-style="setBadgeColor(feature.featureNum, strategy.strategyStage)">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h2 class="timeline-title -align-rightright">{{feature.featureName}}</h2>
                                </div>
                                <div class="timeline-body">
                                    <small class="timeline-title">设备：{{feature.device.name}}</small>
                                    <small class="timeline-title pull-right">{{feature.triggerList[feature.triggerChosen].triggerValue}}min later</small>
                                </div>
                            </div>
                        </li>

                    </ul>
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>







