<!-- START Sidebar (left)-->
<div class="aside-inner">
    <nav sidebar="" class="sidebar">
        <!-- START sidebar nav-->
        <ul class="nav">
            <!-- Iterates over all sidebar items-->
            <li>
                <a href="#/app/dashboard">
                    <i class="fa fa-tachometer"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-pencil"></i>
                    <span>Strategy</span>
                </a>
                <ul class="nav sidebar-subnav">
                    <li><a href="#/app/strategy_edit"><span>创建策略</span></a></li>
                    <li><a href="#/app/strategy"><span>正在执行</span></a></li>
                    <li><a href="#/app/strategy_done"><span>已完成</span></a></li>
                </ul>
            </li>
            <li>
                <a href="#/app/device">
                    <i class="fa fa-tablet"></i>
                    <span>Device</span>
                </a>
            </li>

        </ul>
        <!-- END sidebar nav-->
    </nav>
</div>
<!-- END Sidebar (left)-->