<!-- START Top Navbar-->
<nav role="navigation" class="topnavbar">
    <!--START navbar header-->
   <div class="navbar-header">
      <a href="#/" class="navbar-brand">
         <div class="brand-logo">
            Sunny
         </div>
         <div class="brand-logo-collapsed">
         </div>
      </a>
   </div>
    <!--END navbar header-->
   <!-- START Nav wrapper-->
   <div class="nav-wrapper" ng-controller="UserCtrl">
      <!-- START Left navbar-->
      <ul class="nav navbar-nav">
         <li>
            <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
            <a href="#" ng-click="setAsideCollapse()" class="hidden-xs">
               <em class="fa fa-navicon" style="padding: 0; line-height: 55px"></em>
            </a>
            <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
            <a href="#" ng-click="setAsideCollapse()" class="visible-xs sidebar-toggle">
               <em class="fa fa-navicon"></em>
            </a>
         </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li>
            <a href="#">
               <em class="icon-notebook">{{currentUser.screenName}}</em>
            </a>
         </li>
         <li>
            <a href="#" ng-click="switchUser()">
               <em class="icon-notebook">切换用户</em>
            </a>
         </li>
         <li>
            <a href="#" ng-click="logout()">
               <em class="icon-notebook">安全退出</em>
            </a>
         </li>
      </ul>
      <!-- END Left navbar-->
      <!-- START Right Navbar-->
      <!--<ul class="nav navbar-nav navbar-right">-->
         <!--&lt;!&ndash; Search icon&ndash;&gt;-->
         <!--<li>-->
            <!--<a search-open="">-->
               <!--<em class="icon-magnifier"></em>-->
            <!--</a>-->
         <!--</li>-->
         <!--&lt;!&ndash; START Offsidebar button&ndash;&gt;-->
         <!--<li>-->
            <!--<a href="#" ng-click="">-->
               <!--<em class="icon-notebook"></em>-->
            <!--</a>-->
         <!--</li>-->
         <!--&lt;!&ndash; END Offsidebar menu&ndash;&gt;-->
      <!--</ul>-->
      <!-- END Right Navbar-->
   </div>
      <!-- END Nav wrapper-->
   <!-- START Search form-->
   <!--<form role="search"  class="navbar-form">-->
      <!--<div class="form-group has-feedback">-->
         <!--<input type="text" placeholder="" class="form-control" />-->
         <!--<div search-dismiss="search-dismiss" class="fa fa-times form-control-feedback"></div>-->
      <!--</div>-->
      <!--<button type="submit" class="hidden btn btn-default">Submit</button>-->
   <!--</form>-->
   <!-- END Search form-->
</nav>
<!-- END Top Navbar-->
